<div class="widget-wrap">
  <div class="widget">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
      <% recentArticles.forEach(function(recentArticle) { %>
      <li>
        <a href="<%- recentArticle.link %>"><%- recentArticle.title %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>