<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; 2017 yipzale<br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>