<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="/" id="logo">yipzale</a>
      </h1>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon fa-nav-toggle"></a>
        <a class="main-nav-link" href="/">Home</a>
        <a class="main-nav-link" href="/archives">Archives</a>
      </nav>
      <nav id="sub-nav">
        <a id="nav-search-btn" class="nav-icon fa-search" title="Search"></a>
      </nav>
      <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit fa-search"></button><input type="hidden" name="sitesearch" value="http://www.yipzale.me"></form>
      </div>
    </div>
  </div>
</header>