<head>
    <meta charset="utf-8">
    <title>yipzale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="yipzale">
    <meta property="og:url" content="http://www.yipzale.me">
    <meta property="og:site_name" content="yipzale">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="yipzale">
    <link rel="alternate" href="/atom.xml" title="yipzale" type="application/atom+xml">
    <script src="/dist/js/main.bundle.js"></script>
</head>