<head>
    <meta charset="utf-8">
    <title><% if(locals.tkd) { %><%- tkd.title %><% } else { %> yipzale <% } %></title>
    <meta name="keywords" content="<% if(locals.tkd && tkd.keywords) { %><%- tkd.keywords %><% } else { %> yipzale,blog,docker,php <% } %>">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<% if(locals.tkd) { %><%- tkd.title %><% } else { %> yipzale <% } %>">
    <meta property="og:url" content="http://www.yipzale.me">
    <meta property="og:site_name" content="yipzale">
    <script src="/dist/js/main.bundle.js"></script>
</head>